@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply mx-auto 2xl:max-w-7xl;
  }
  .anim-hero-title {
    @apply -my-4 lg:-my-8;
  }
  h1,
  h2,
  h3,
  p {
    @apply text-black;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.anim-work-title {
  padding-left: 40px;
}
.anim-hero-title__content,
.work-heading-1,
.work-heading-2,
.work-heading-3,
.work-heading-4,
.work-heading-5,
.work-heading-6 {
  position: relative;
  display: inline-block;
  transform-origin: left center;
}
.work-heading-1,
.work-heading-2,
.work-heading-3,
.work-heading-4,
.work-heading-5,
.work-heading-6 {
  opacity: 0.3;
  transform: rotate(15deg) translateY(100%);
}
.work-project-info-1,
.work-project-info-2,
.work-project-info-3,
.work-project-info-4,
.work-project-info-5,
.work-project-info-6 {
  opacity: 0;
  transform: translateY(15px);
}
.quoter-over-left {
  left: 125%;
}
.work-image-container,
.labs-image-container {
  transition: all 0.5s cubic-bezier(0.28, 1, 0.73, 0.91);
  filter: grayscale(100%);
}
.work-image-container:hover,
.labs-image-container:hover {
  filter: grayscale(0);
}
.outlined-text {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
.underline-custom-hover {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  &::after {
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #3d59e9;
    bottom: 0;
    left: -100%;
  }
  &:hover::after {
    left: 0;
  }
}
.underline-custom-hover-blue {
  position: relative;

  &::after {
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #171717;
    bottom: 0;
    left: 0;
  }
  &:hover::after {
    width: 0;
    background-color: #3d59e9;
  }
  &:hover {
    color: #3d59e9;
  }
}

.underline-custom {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #171717;
    bottom: 0;
    left: 0;
  }
}
.underline-custom-white {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
  }
}
