@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply mx-auto;
  }
  .anim-hero-title {
    @apply -my-4 lg:-my-8;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.anim-work-title {
  padding-left: 40px;
}
.anim-hero-title__content,
.work-heading-1,
.work-heading-2,
.work-heading-3,
.work-heading-4 {
  position: relative;
  display: inline-block;
  transform-origin: left center;
}
.work-heading-1,
.work-heading-2,
.work-heading-3,
.work-heading-4 {
  opacity: 0.3;
  transform: rotate(15deg) translateY(100%);
}
.work-project-info-1,
.work-project-info-2,
.work-project-info-3,
.work-project-info-4 {
  opacity: 0;
  transform: translateY(15px);
}
.quoter-over-left {
  left: 125%;
}
.work-image-container {
  transition: all 0.5s cubic-bezier(0.28, 1, 0.73, 0.91);
}
